@use '/styles/colors';
@use '/styles/typography';

.container {

  >button {
    width: 100%;
    height: 56px;
    border: 2px solid transparent;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    @include typography.text-base;
    @include typography.text-lg;
    @include typography.text-semibold;
    color: colors.$just-white;
    background: colors.$bubble-blue;
    transition: border-color 0.2s, background 0.2s, opacity 0.2s, color 0.2s;

    &:hover {
      border-color: darken(colors.$bubble-blue, 10%) !important;
      background: lighten(colors.$bubble-blue, 5%) !important;
    }

    &:active {
      border-color: darken(colors.$bubble-blue, 10%) !important;
      background: darken(colors.$bubble-blue, 10%) !important;
    }

    &:focus {
      outline-color: transparent;
    }

    &.disabled {
      pointer-events: none;
      color: transparentize(colors.$just-white, 0.3);
      opacity: 0.6;
    }

    &.send {
      background: colors.$cotton-gold;
      text-shadow: 0 0 12px transparentize(colors.$just-black, 0.9);

      svg {
        filter: drop-shadow(0 0 12px transparentize(colors.$just-black, 0.8));
      }

      &:hover {
        border-color: darken(colors.$cotton-gold, 10%) !important;
        background: lighten(colors.$cotton-gold, 5%) !important;
      }

      &:active {
        border-color: darken(colors.$cotton-gold, 10%) !important;
        background: darken(colors.$cotton-gold, 10%) !important;
      }
    }
  }
}
