@use '/styles/colors';
@use '/styles/typography';

.container {

  >button {
    width: 416px;
    height: 56px;
    border: 2px solid colors.$bubble-blue;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    @include typography.text-base;
    @include typography.text-lg;
    @include typography.text-semibold;
    transition: border-color 0.2s, background 0.2s;

    &:hover {
      border-color: darken(colors.$bubble-blue, 10%) !important;
      background: lighten(colors.$bubble-blue, 5%) !important;
    }

    &:active {
      border-color: darken(colors.$bubble-blue, 10%) !important;
      background: darken(colors.$bubble-blue, 10%) !important;
    }

    &:focus {
      outline-color: transparent;
    }
  }
}
