@use '/styles/colors';
@use '/styles/typography';

.container {
  margin-top: 24px;

  h3 {
    @include typography.text-base;
    @include typography.text-lg;
    @include typography.text-semibold;
    margin-bottom: 12px;
    display: inline-block;
    color: colors.$text-secondary;
  }

  >input {
    width: 416px;
    height: 56px;
    padding: 16px 12px;
    border: 2px solid colors.$n-100;
    border-radius: 8px;
    display: flex;
    align-items: center;
    background: colors.$n-50;
    @include typography.text-base;
    @include typography.text-lg;
    @include typography.text-medium;
    color: colors.$text-primary;
    transition: border 0.2s;

    &::placeholder {
      color: colors.$text-tertiary;
    }

    &:hover {
      border-color: darken(colors.$n-100, 10%);
    }

    &:focus {
      outline: none;
      border-color: colors.$bubble-blue;
    }
  }
}
