@use '/styles/breakpoints';
@use '/styles/colors';
@use '/styles/typography';

$margin: 24px;

// @keyframes fadein {
//   from {
//     transform: translate(0px, 18px);
//     opacity: 0;
//   }

//   to {
//     transform: translate(0px, 0px);
//     opacity: 1;
//   }
// }

// @keyframes fadeout {
//   from {
//     transform: translate(0px, 0px);
//     opacity: 1;
//   }

//   to {
//     transform: translate(0px, -18px);
//     opacity: 0;
//   }
// }

.container {
  max-width: calc(100svw - 2 * $margin);
  width: 384px;
  padding: 12px 16px 12px 12px;
  border-radius: 16px;
  display: inline-block;
  display: flex;
  gap: 8px;
  background: colors.$just-white;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.1);

  // animation: fadein 0.5s, fadeout 0.5s 5s;
  // animation-timing-function: ease-out;

  &.info {
    background: colors.$just-white;
    color: colors.$text-primary;
  }

  &.success {
    background: colors.$s-100;
    color: colors.$s-700;
  }

  &.error {
    background: colors.$e-100;
    color: colors.$e-700;
  }

  svg {
    flex-shrink: 0;
  }

  p {
    @include typography.text-base;
    @include typography.text-sm;
    @include typography.text-medium;
    color: colors.$text-primary;
  }

  h3 {
    @include typography.text-base;
    @include typography.text-sm;
    @include typography.text-semibold;
  }

  // @media screen and (max-width: breakpoints.$phone) {
  //   max-width: none;
  //   width: calc(100svw - (2 * $margin));
  // }
}
