@use '/styles/colors';
@use '/styles/typography';

.container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  color: colors.$just-black;
  opacity: 0.4;

  &:hover {
    cursor: pointer;
  }

  >p {
    @include typography.text-base;
    @include typography.text-md;
    @include typography.text-semibold;
    margin: 0;
    display: inline-block;
  }
}
