.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.isPreview {
    height: auto;
    border-radius: 8px;
  }
}
