.container {
  width: calc(100% - 24px - 24px);
  max-width: 640px;
  aspect-ratio: 1;
  background: gray;

  &.isPreview {
    width: calc(100% - 32px - 32px);
    height: calc(100% - 32px - 32px)
  }

  @media screen and (max-height: 880px) and (min-width: 688px) {
    /* tag top margin, tag height, tag margin bottom, card margin bottom */
    height: calc(100dvh - (16px + 80px + 24px + 24px + 48px));
    //   /* follow height, aspect-ratio property only works with width */
    max-width: none;
    width: calc(100dvh - (16px + 80px + 24px + 24px + 48px));
  }
}
