.container {

  >.grid {
    width: calc(100dvw - 24px - 24px);
    $maxWidth: 612px;
    max-width: $maxWidth;
    display: grid;
    grid-template-columns: calc(50% - 12px) calc(50% - 12px);
    column-gap: 24px;
  }
}
