@use '/styles/colors';

.container {
  width: 278px;
  height: 80px;
  padding: 0 24px;
  border-radius: 0 40px 40px 0;
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.10) inset, 0px 0px 8px 0px #00000010;
  position: fixed;
  top: 16px;
  left: 0;
  background: colors.$bubble-blue;
  z-index: 1;

  >a {
    height: 100%;
    display: flex;
    align-items: center;

    >img {
      position: relative;
      top: 2px;
    }
  }
}
