@use '/styles/animations';
@use '/styles/breakpoints';
@use '/styles/colors';
@use '/styles/constants';
@use '/styles/typography';

.container {
  width: calc(100dvw - 24px - 24px);
  $maxWidth: 612px;
  max-width: $maxWidth;

  >.barCategory {
    height: 72px;
    padding: 8px;
    border-radius: 16px;
    display: flex;
    gap: 8px;
    background: colors.$n-100;
    overflow: scroll;

    button {
      width: 200px;
      min-width: 144px;
      height: 56px;
      border: none;
      border-radius: 8px;
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;
      background: none;
      @include typography.text-base;
      @include typography.text-lg;
      @include typography.text-semibold;
      color: colors.$text-tertiary;

      transition: color 0.2s;

      &.active {
        box-shadow: inset 0 -1px colors.$n-200;
        border: 2px solid colors.$n-200;
        background: colors.$just-white;
        color: colors.$text-secondary;
      }

      &:hover {
        color: colors.$text-secondary;
      }

      >svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  >.searchContainer {
    width: 100%;
    height: 544px;
    margin-top: 24px;
    padding: 12px;
    border-radius: 16px;
    position: relative;
    background: colors.$n-100;

    >.resultContainer {
      max-height: 512px;
      margin-top: 16px;
      border-radius: 4px;
      display: grid;
      grid-template-columns: calc((100% - 2 * (8px)) / 3) calc((100% - 2 * (8px)) / 3) calc((100% - 2 * (8px)) / 3);
      column-gap: 8px;
      row-gap: 8px;
      overflow-x: scroll;

      @media screen and (max-width: breakpoints.$phone) {
        grid-template-columns: calc((100% - 1 * (8px)) / 2) calc((100% - 1 * (8px)) / 2);
      }

      >button {
        width: 100%;
        aspect-ratio: 1;
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 4px;
        position: relative;
        overflow: hidden;
        animation: animations.$pulseBackground;

        >.result {
          width: 100%;
          height: 100%;
          aspect-ratio: 1;
          margin: 0;
          object-fit: fill;
        }

        >.selectionBackdrop {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          @include typography.text-base;
          @include typography.text-md;
          @include typography.text-semibold;
          color: colors.$just-white;
          background: transparentize(colors.$just-black, 0.6);
          opacity: 0;
          transition: opacity 0.2s ease-in-out;

          svg {
            width: 24px;
          }

          >.selectionText {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 8px;
            background: none;
            backdrop-filter: blur(2px);
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
          }
        }

        &:hover {
          >.selectionBackdrop {
            opacity: 1;

          }
        }

        &.selected {
          >.selectionBackdrop {
            opacity: 1 !important;

            >.selectionText {
              opacity: 1;
            }
          }
        }
      }
    }

    >.suggestionContainer {
      height: calc(100% - 56px - 16px);
      margin-top: 16px;
      display: grid;
      grid-template-rows: auto auto auto;
      grid-template-columns: calc((100% - 12px) / 2) calc((100% - 12px) / 2);
      row-gap: 8px;
      column-gap: 8px;

      >.suggestion {
        height: calc((520px - 56px - 16px - 2 * (8px)) / 3);
        padding: 0;
        border: none;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include typography.text-base;
        @include typography.text-md;
        @include typography.text-semibold;
        color: colors.$just-white;
        background: gray;
      }
    }

    >.errorContainer {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 24px;
      @include typography.text-base;
      @include typography.text-lg;
      @include typography.text-semibold;
      color: colors.$text-tertiary;
    }
  }

  .uploadPanel {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: relative;
    @include typography.text-base;
    @include typography.text-lg;
    @include typography.text-semibold;
    color: colors.$text-tertiary;

    svg {
      width: 96px;
      height: 96px;
    }

    strong {
      display: inline;
      text-decoration: underline;
      color: colors.$text-secondary;
      @include typography.text-semibold;
    }

    >input {
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
  }
}
