@use '/styles/animations';
@use '/styles/breakpoints';
@use '/styles/colors';
@use '/styles/constants';
@use '/styles/typography';

.container {
  width: calc(100dvw - 24px - 24px);
  $maxWidth: 612px;
  max-width: $maxWidth;

  >.barCategory {
    height: 72px;
    padding: 8px;
    border-radius: 16px;
    display: flex;
    gap: 8px;
    background: colors.$n-100;

    button {
      width: 200px;
      height: 56px;
      border: none;
      border-radius: 8px;
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;
      background: none;
      @include typography.text-base;
      @include typography.text-lg;
      @include typography.text-semibold;
      color: colors.$text-tertiary;

      transition: color 0.2s;

      &.active {
        box-shadow: inset 0 -1px colors.$n-200;
        border: 2px solid colors.$n-200;
        background: colors.$just-white;
        color: colors.$text-secondary;
      }

      &:hover {
        color: colors.$text-secondary;
      }
    }
  }

  >.dropdownCategory {}

  >.searchContainer {
    width: 100%;
    margin-top: 24px;
    padding: 12px;
    border-radius: 16px;
    background: colors.$n-100;

    >.resultContainer {
      max-height: 448px;
      margin-top: 16px;
      border-radius: 4px;
      display: grid;
      grid-template-columns: auto auto auto;
      column-gap: 8px;
      row-gap: 8px;
      overflow-x: scroll;

      @media screen and (max-width: breakpoints.$phone) {
        grid-template-columns: auto auto;
      }

      >.result {
        aspect-ratio: 1;
        border-radius: 4px;
        background: colors.$n-300;
        animation: animations.$pulseOpacity;
      }
    }
  }
}
