@use '/styles/breakpoints';
@use '/styles/colors';
@use '/styles/constants';

.container {
  width: 100svw;
  height: 96px;
  padding: 0px 24px;
  // box-shadow: 0 0 12px transparentize(colors.$bubble-blue, 0.5);
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: center;
  background: colors.$bubble-blue;
  z-index: 1;

  >.content {
    width: breakpoints.$navBarContentMaxWidth;
    max-width: breakpoints.$navBarContentMaxWidth;
    height: 96px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .wordmark {
      height: 48px;
    }

    .desktopWordmark {
      height: 48px;
    }

    .mobileWordmark {
      height: 48px;
      display: none;
    }

    @media screen and (max-width: breakpoints.$phone) {
      .desktopWordmark {
        display: none;
      }

      .mobileWordmark {
        display: block;
      }
    }

    a {
      text-decoration: none;
    }

    .newBtn {
      position: absolute;
      left: calc(50% - (180px / 2));

      @media screen and (max-width: breakpoints.$phone) {
        display: none;
      }
    }
  }
}
