@use '/styles/colors';
@use '/styles/typography';

.container {
  padding: 96px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 48px;

  >.profilePic {
    border-radius: 152px;
    box-shadow: 0px 0px 0px 24px rgba(0, 0, 0, 0.05);
    background: colors.$n-300;
  }

  >h1 {
    @include typography.text-base;
    @include typography.text-2xl;
    @include typography.text-semibold;
    color: colors.$text-primary;
    margin-bottom: 24px;
  }
}
