@use '/styles/colors';

.container {
  width: 100dvw;
  min-height: 100dvh;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background: colors.$bubble-blue;
  background: url('/ripple.png');
  background-size: cover;
  background-position: center center;
  overflow: scroll;
}
