@use '/styles/colors';
@use '/styles/constants';
@use '/styles/typography';


.container {
  width: 100dvw;
  height: 100dvh;
  background: colors.$bubble-blue;
  background: url('/ripple.png');
  background-size: cover;
  background-position: center center;
  overflow: scroll;

  >main {
    padding: 0 24px;
    display: flex;
    justify-content: center;

    >.content {
      width: 100dvw;
      max-width: constants.$navBarContentMaxWidth;
      padding: 64px 0px;

      >h1 {
        @include typography.text-base;
        @include typography.text-2xl;
        @include typography.text-semibold;
        color: colors.$just-white;
      }
    }
  }
}
