@use '/styles/breakpoints';
@use '/styles/colors';
@use '/styles/constants';
@use '/styles/typography';


.container {
  width: 100dvw;
  height: 100dvh;
  background: colors.$bubble-blue;
  background: url('/ripple.png');
  background-size: cover;
  background-position: center center;
  overflow: scroll;

  >main {
    padding: 0 24px;
    display: flex;
    justify-content: center;

    >.content {
      width: 100%;
      max-width: breakpoints.$navBarContentMaxWidth;
      padding: 64px 0px;

      >h1 {
        @include typography.text-base;
        @include typography.text-2xl;
        @include typography.text-semibold;
        color: colors.$just-white;
      }

      >.cardContainer {
        margin-top: 24px;
        display: grid;
        grid-template-columns: calc((100% - (2 * 24px)) / 3) calc((100% - (2 * 24px)) / 3) calc((100% - (2 * 24px)) / 3);
        column-gap: 24px;
        row-gap: 24px;

        @media screen and (max-width: breakpoints.$navBarContentMaxWidth) {
          grid-template-columns: calc((100% - (1 * 24px)) / 2) calc((100% - (1 * 24px)) / 2);
        }

        @media screen and (max-width: breakpoints.$phone) {
          grid-template-columns: calc(100% - (0 * 24px));
        }
      }
    }
  }
}
