@use '/styles/colors';
@use '/styles/typography';

.container {
  width: 512px;
  padding: 48px;
  border-radius: 32px;
  background: colors.$just-white;
  filter: drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.1));

  >h1 {
    @include typography.text-base;
    @include typography.text-xl;
    @include typography.text-semibold;
    margin: 0px 0px 48px 0px;
  }
}
