@use '/styles/colors';

@keyframes pulseBackground {
  0% {
    background: colors.$n-300;
  }

  50% {
    background: colors.$n-200;
  }

  100% {
    background: colors.$n-300;
  }
}

$pulseBackground: pulseBackground 1.5s ease-in-out infinite;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

$fadeIn: fadeIn 1s ease-in-out;

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(32px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

$fadeUp: fadeUp ease-out 0.2s;
