$bubble-blue: #41C4E0;
$cotton-gold: #FFE058;
$e-700: #E0415C;
$e-100: #FFEDF0;
$s-700: #33B687;
$s-100: #EDFFF9;


$just-black: #000000;
$text-primary: #303030;
$text-secondary: #606060;
$text-tertiary: #A0A0A0;
$n-300: #CACACA;
$n-200: #E0E0E0;
$n-100: #F0F0F0;
$n-50: #FAFAFA;
$just-white: #FFFFFF;
