@use '/styles/colors';

* {
  box-sizing: border-box;
}

body {
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
}

button {

  &:hover {
    cursor: pointer;
  }
}

::selection {
  background: colors.$bubble-blue;
  color: colors.$just-white;
}
