@use '/styles/colors';

* {
  box-sizing: border-box;
  font-family: inherit;

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  user-select: none;

  &:hover {
    cursor: pointer;
  }
}

::selection {
  background: colors.$bubble-blue;
  color: colors.$just-white;
}
